body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.shopping-cart {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}

h1 {
  text-align: center;
  color:coral;
}

.cart-items {
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.item-details {
  flex: 1;
}

.item h3 {
  margin: 0;
}

.item p {
  margin: 5px 0;
}

.item label {
  display: block;
  margin-top: 5px;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

.checkout {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
