.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.info {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px; /* Add padding to create some space between content and frame */
  border: 1px solid #ccc;
  border-radius: 3px;
}
