.form fieldset .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 6px;
  left: 6px;
  background: none;
}

.form fieldset input,
.form fieldset .select {
  width: 100%;
  height: 20px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.pay-label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: hsla(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form fieldset .select {
  position: relative;
}
.form fieldset .select::after {
  content: "";
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}
.form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;

  clear: both;
}
.fieldset-city,
.fieldset-phone,
.fieldset-firstname {
  clear: none !important;
  float: left;
  width: 40%;
}
.fieldset-country,
.fieldset-zipcode,
.fieldset-lastname {
  float: right;
  width: 45%;
  clear: none !important;
}
.checkout {
  margin: 0 auto;
  /*  position: relative;*/
  width: 460px;
  background: white;
  padding: 30px 30px 20px 10px;
  box-shadow: 0 10px 40px hsla(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form fieldset.fieldset-streetNo {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset.fieldset-street {
  float: left;
  width: 60%;
}
.form-footer {
  float: right;
}

.bold-text {
  font-weight: bold;
}
