.con-desc {
  color: coral;
  font-weight: bold;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.con-label {
  display: block;
  font-weight: bold;
}

.con-input {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.con-btn {
  cursor: pointer;
  float: right;
}

.address-map-container {
  display: flex;
}

.address-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.map-container {
  width: 600px;
  margin-left: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
  /* margin-top: -5px; */
}
