body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.prc-btn {
  font-size: 18px;
  padding: 7px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;

  cursor: pointer;
}

.prc-btn:hover {
  background-color: #0056b3;
}

#total-price {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: -10%;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-bottom: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.modal-content h2 {
  text-align: center;
}

.centered-link {
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~nofar~~~~~~~~~~~~~~~~~~~~~*/
/*--------------------
Form
--------------------*/
.form fieldset .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 6px;
  left: 6px;
  background: none;
}
.form fieldset input.input-cart-number,
.form fieldset .select.input-cart-number {
  width: 15%;
  display: inline-block;
  margin-right: 8px;
}

.form fieldset input,
.form fieldset .select {
  width: 100%;
  height: 20px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.pay-label,
input,
select,
textarea {
  display: block;
  margin-bottom: 10px;
}
.form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}
.form fieldset .select {
  position: relative;
}
.form fieldset .select::after {
  content: "";
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}
.form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;

  clear: both;
}

.pay-label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: hsla(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*--------------------
Checkout
--------------------*/
.checkout {
  margin: 0 auto;
  /*  position: relative;*/
  width: 460px;
  background: white;
  padding: 30px 30px 20px 10px;
  box-shadow: 0 10px 40px hsla(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset.fieldset-expiration {
  float: left;
  width: 60%;
}
.form fieldset.fieldset-streetNo {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset.fieldset-street {
  float: left;
  width: 60%;
}
.form-footer {
  float: right;
}
.modal {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5); /* color */
  display: none; /* making it hidden by default */
}

.modal-content {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 1px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: hsla(0, 0, 0, 0.6);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #000000;
  align-items: center;
  justify-content: center;
}

.checkmark:after {
  content: "\2714"; /* Unicode character for checkmark */
  position: absolute;
  display: block;
  color: white;
  font-size: 13px;
  margin-left: 5px;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: green;
}

.custom-checkbox:hover .checkmark {
  background-color: rgb(91, 174, 58); 
}