/*~~~~~~~~~~~~~~~~~~~~~~nofar~~~~~~~~~~~~~~~~~~~~~*/
/*--------------------
Form
--------------------*/
.form fieldset .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 10px;
  left: 6px;
  background: none;
}
.form fieldset input.input-cart-number,
.form fieldset .select.input-cart-number {
  width: 15%;
  display: inline-block;
  margin-right: 8px;
}

.form fieldset input,
.form fieldset .select {
  width: 100%;
  height: 20px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.fieldset-city,
.fieldset-phone,
.fieldset-firstname {
  clear: none !important;
  float: left;
  width: 40%;
}
.fieldset-country,
.fieldset-zipcode,
.fieldset-lastname {
  float: right;
  width: 45%;
  clear: none !important;
}

.form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}
.form fieldset .select {
  position: relative;
}
.form fieldset .select::after {
  content: "";
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}
.form fieldset {
  border: none;
  padding: 10px 0;
  clear: both;
}
.pay-label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: hsla(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*--------------------
Checkout
--------------------*/
.checkout {
  margin: 0 auto;
  /*  position: relative;*/
  width: 40%;
  background: white;
  padding: 30px 30px 20px 10px;
  box-shadow: 0 10px 40px hsla(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset.fieldset-expiration {
  float: left;
  width: 60%;
}
.form fieldset.fieldset-streetNo {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset.fieldset-street {
  float: left;
  width: 60%;
}
.form-footer {
  float: right;
}
/*checkbox*/
.cl-checkbox,
.cl-checkbox-address {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 15px;
}

/* Input */
/* .cl-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
} */

/* Span */
/* .cl-checkbox > span {
  display: inline-block;
  cursor: pointer;
} */

/* Box */
/* .cl-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
} */

/* Checkmark */
/* .cl-checkbox > span::after{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
} */

/* Checked, Indeterminate */
/* .cl-checkbox > input:checked,
.cl-checkbox > input:indeterminate {
  background-color: #018786;
}

.cl-checkbox > input:checked + span::before,
.cl-checkbox > input:indeterminate + span::before {
  border-color: #018786;
  background-color: #018786;
} */

/* .cl-checkbox > input:checked + span::after,
.cl-checkbox > input:indeterminate + span::after {
  border-color: #fff;
}

.cl-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
} */

/* Hover, Focus */
/* .cl-checkbox:hover > input {
  opacity: 0.04;
} */

/* .cl-checkbox > input:focus {
  opacity: 0.12;
}

.cl-checkbox:hover > input:focus {
  opacity: 0.16;
} */

/* Active */
/* .cl-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-checkbox > input:active + span::before {
  border-color: #85b8b7;
}

.cl-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
} */

/* Disabled */
/* .cl-checkbox > input:disabled {
  opacity: 0;
}

.cl-checkbox > input:disabled + span {
  color: rgba(0, 0, 0, 0.38);
  cursor: initial;
}

.cl-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.cl-checkbox > input:checked:disabled + span::before,
.cl-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
} */

.container1 {
  text-align: center;
  margin: 10px auto 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #333;
  max-width: 800px;
  margin-bottom: 50px;
}
.square-container {
  display: flex;
  justify-content: center;
}
.square {
  border: 2px solid #333;
  text-align: center;
  padding: 20px;
  margin: 40px;
  cursor: pointer;
  background-color: #cdc5c5;
  width: 120px; /* Fixed width for all squares */
  height: 120px; /* Fixed height for all squares */

  transition: background-color 0.3s ease;
}
.square:hover {
  background-color: #ccc;
}

.select-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

/*point select section */
.pointlabel {
  font-size: 16px;
  padding: 0;
}
.pointsSelect {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  width: 50%;
  font-size: 14px;
}
.redeem-btn {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 0 10px;
  border: 0;
  font-weight: 600;
  height: 27px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}
.redeem-btn:hover {
  background-color: #555;
}
