body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}
/*
#purchase-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
*/
label,
input,
select,
textarea {
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#total-price {
  font-weight: bold;
}

.expiration-date-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expiration-month select,
.expiration-year select {
  width: 25%;
}
.expiration-month {
  flex: 1;
}
.expiration-year {
  flex: 1;
}

.error-message {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: -20%;
  width: 100%;
  height: 100%;
  /* background-color: rgba(58, 51, 51, 0.116); */
  justify-content: center;
  margin-bottom: 0;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.modal-content h2 {
  text-align: center;
}

.centered-link {
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~nofar~~~~~~~~~~~~~~~~~~~~~*/
/*--------------------
Form
--------------------*/
.form fieldset .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 6px;
  left: 6px;
  background: none;
}
.form fieldset input.input-cart-number,
.form fieldset .select.input-cart-number {
  width: 15%;
  display: inline-block;
  margin-right: 8px;
}

.form fieldset input,
.form fieldset .select {
  width: 100%;
  height: 20px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.label,
input,
select,
textarea {
  display: block;
  margin-bottom: 10px;
}
.form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}
.form fieldset .select {
  position: relative;
}
.form fieldset .select::after {
  content: "";
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}
.form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;

  clear: both;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: hsla(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*--------------------
Checkout
--------------------*/
.checkout {
  margin: 0 auto;
  /*  position: relative;*/
  width: 460px;
  background: white;
  border-radius: 15px;
  padding: 30px 30px 20px 10px;
  box-shadow: 0 10px 40px hsla(0, 0, 0, 0.1);
}
.form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset.fieldset-expiration {
  float: left;
  width: 60%;
}
.form fieldset.fieldset-streetNo {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset.fieldset-street {
  float: left;
  width: 60%;
}
.form-footer {
  float: right;
}
