/*~~~~~~~~~~~~~~~~~~~~~~~nofar~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.productView {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  box-shadow: 0 3px 0 #dfdfdf;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  width: 85%;
  margin: 0 auto;
}
.productView-images,
.productView-info {
  padding: 0.7rem;
  margin-bottom: 0;
  float: left;
}
.productView-info {
  flex: 3;
  display: grid;
}
.productView-images {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
}
.productView-image {
  width: 350px;
  border-radius: 3px;
}
.productView-name {
  font-size: 22px;
  padding: 0;
}
.productView-price {
  font-size: 23px;
  margin-bottom: 15px;
}
.productView-slick-slider {
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  overflow: visible;
  float: left;
}
.slick-track {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.productView-image-option {
  height: 60px;
  display: inline-block;
}
.productView-imageSlick {
  display: inline-block;
  border: 1px solid #dfdfdf;
  margin: 0 0.75rem 0.75rem 0;
  cursor: pointer;
  position: relative;
}
.productView-imageSlick.active {
  border: 1px solid #fe8686;
}
/*quantity*/
.quantity-input {
  border: 2px solid #dddddd;
  width: fit-content;
  float: left;
  border-radius: 6px;
  display: flex;
  margin-bottom: 20px;
}

.quantity-input input {
  max-width: 50px;
}
input.minus.btn,
input.plus.btn {
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #696969;
  padding: 1px 6px;
  background-color: #dddddd;
  border: none;
  cursor: pointer;
}
input.plus.btn {
  border-radius: 0 3px 3px 0;
}
input.minus.btn {
  border-radius: 3px 0 0 3px;
}
input.input-text {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 18px;
  text-align: center;
}
.btn-add-to-cart {
  margin-top: 30px;
  padding: 7px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  float: left;
}
.btn-add-to-cart a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.productView-details {
  font-size: 13px;
}
.productView-details-title {
  font-weight: bold;
  font-size: 15px;
}
h4.productView-name {
  margin-bottom: 10px;
  margin-top: 5px;
}
/*suggested-products*/

.suggested-products {
  width: 90%;
  margin: 10px auto;
  padding: 20px;
}
.items {
  display: block;
  margin: 20px 0;
}
.item {
  background-color: #fff;
  float: left;
  margin: 0 10px 10px 0;
  width: 200px;
  padding: 10px;
  min-height: 300px;
  display: grid;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}
.item img {
  display: block;
  margin: auto;
}
.title {
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}
.title-desc {
  float: left;
}
.title-desc a {
  color: black;
}
.title-price {
  float: right;
}
.add-to-cart {
  border: 1px solid #007bff;
  padding: 4px 14px;
  background-color: #fff;
  color: #007bff;
  text-transform: uppercase;
  float: right;
  margin: 5px 0;
  font-weight: bold;
  cursor: pointer;
}

.productView-slick-slider {
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  overflow: visible;
  float: left;
  margin-left: -30px;
}
/*wish list*/

.favorite-button {
  border: none;
  margin-left: 10px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}
.favorite-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.favorite-button i {
  color: red; /* Set the heart icon color to red */
}
