body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  color: #3f3e39;
  text-align: left;
  font-family: math;
  margin-top: 0;
  padding-top: 5px;
}

/* Product Grid styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns */
  grid-gap: 6px; /* Gap between grid items */
  margin: 0 auto;
}

/* Product Details Modal styles */

.filter-sidebar {
  float: left;
  width: 230px;
  margin: 0;
  padding: 3px;
  height: 600px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
}
.filter-sidebar,
.product-grid-section {
  display: inline-block;
}
.filter-sidebar {
  width: 19%;
}
.product-grid-section {
  width: 70%;
}
/*
#price-range-slider {
  height: 10px;
  background-color: #ddd;
  position: relative;
}

#price-range-values {
  margin-top: 5px;
  text-align: center;
}

#price-range-values span {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.price-dot {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
}

#price-dot-min {
  left: 10;
  top: 193px;
}

#price-dot-max {
  right: 0;
  top: 193px;
}
*/
.filter-option {
  margin-bottom: 50px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~nofar~~~~~~~~~~~~~~~~~~~~~~~*/
.select-filter {
  appearance: none;
  border: 0;
  box-shadow: none;
  width: 100%;
  padding: 0 1em;
  color: black;
  border-bottom: 1px solid grey;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
.select-filter::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-container {
  position: relative;
  display: flex;
  width: 85%;
  height: 35px;
  border-radius: 0.25em;
  overflow: hidden;
  margin-bottom: 13px;
  font-size: 15px;
}
/* Arrow */
.select-container::after {
  content: "\25BD";
  position: absolute;
  top: -6px;
  right: -7px;
  padding: 1em;
  border-left: 1px dashed #c1c1c1b5;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select-container:hover::after {
  color: #f39c12;
}
.select-label {
  align-self: center;
  font-family: math;
  margin-right: 6px;
  font-size: 15px;
}
.filter-container tr {
  height: 25px;
}
/* slider*/
/* This line can be removed it was just for display on CodePen: */
.slider-container {
  margin-top: 25px;
}

.slider-labels {
  margin-top: 10px;
  display: flex;
}

/* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
   */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #345dbb;
}

/* Styling;
   */
.noUi-background {
  background: #d6d7d9;
}

.noUi-connect {
  background: #345dbb;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}
/* Handles and cursors;
   */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345dbb;
  border: 8px solid rgba(53, 93, 187, 0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
   */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
.col-xs-6 {
  font-size: 10px;
  flex: 1;
}
span#slider-range-value2,
span#price-dot-max {
  float: right;
}
/* product item grid*/
.product-item {
  background-color: #fff;
  float: left;
  margin: 0 10px 10px 0;
  width: 200px;
  padding: 7px;
  min-height: 200px;
  display: grid;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}
/*
.product-item {
  text-align: center;
  margin-bottom: 15px;
}*/

.product-img img {
  display: block;
  margin: auto;
  width: 190px;
  height: auto;
}
.product-title,
.product-price {
  font-size: 15px;
  display: block;
  margin: 0 0 5px 0;
  font-family: math;
  text-align: center;
}
.product-title {
  border-bottom: 1px solid #dcdcdc;
}
.product-title-desc a {
  color: black;
  text-decoration: none;
}
.product-title-price {
  font-size: 20px;
  color: #0093dd;
}
/*sort select list*/
.sort-select {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  margin: 0 0 2rem;
  max-width: fit-content;
}
.sort-select-label,
.sort-select-filter {
  display: inline-block;
}
.sort-select-label {
  color: #000;
  font-size: 1rem;
  line-height: 3rem;
  margin-bottom: 0;
  padding-left: 0.75rem;
  margin: 0 0.375rem 0 0;
  cursor: pointer;
}
.sort-select-filter {
  font-size: 1rem;

  height: 3rem;
  color: #000;
  border: 0;
  padding-left: 0.1875rem;
  width: auto;
  background-position: right 0.5625rem top 0.6875rem;
  background-color: #fff;
  cursor: pointer;
  width: auto;
  margin-right: 6px;
}
