
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 0;
}

h1, h2 {
    color: #3f3e39;
    text-align: center;
}

/* Product Grid styles */
#product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 10px; /* Gap between grid items */
    margin-bottom: 20px;
    margin-top: 70px;

}

.product-item {
    border: 1px solid #ddd;
   padding: 10px;
    width: 250px; 
    height: 250px; 
    text-align: center;
    aspect-ratio: 1/1; 
    margin-bottom: 20px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

/* Product Details Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    max-width: 600px;
}

/* Filter Sidebar styles */
#filter-sidebar {
    float: right;
    width: 200px;
    padding: 10px;
    background-color: #f2f2f2;
    position: fixed;
    top: 20px;
    /*right: 20px;*/
    height: 400px;
    top: 0;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100vh;
    gap: 10 px;

}

#filter-sidebar h2 {
    margin-top: 0;
}

#filter-sidebar label {
    display: block;
    margin-top: 100px;
}


#toggle-filter {
    display: block;
    position: fixed;
    top: 40px;
    right: 10px;
    padding: 10px;
    background-color: #3f3e39;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    z-index: 2;
}

#price-range-slider {
    height: 10px;
    background-color: #ddd;
    position: relative;
}

#price-range-values {
    margin-top: 5px;
    text-align: center;
}

#price-range-values span {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.price-dot {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
    
}

#price-dot-min {
    left:10;
    top: 293px;
}

#price-dot-max {
    right: 0;
    top: 293px;
}





