/* styles.css */

/* Apply general styling to the table */
.data-table {
  border-collapse: collapse;
  width: 90%;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

/* Style table header */
.data-table th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  border: 1px solid #dddddd;
  border-bottom: 1px solid #5b5a5a;
}

/* Style table cells */
.data-table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}

/* Add alternating row colors */
.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style the paragraph */
p {
  text-align: center;
  margin-bottom: 20px;
}
