<%- include('../includes/head.ejs') %>

<body>
    <main style="margin-top: 150px;">
      <h1>About Us...</h1>
      
      <div class="info">
         
      <p>Welcome to our exciting and fun-filled Playtopia website! Our mission is to provide a safe and enjoyable online gaming experience for children of all ages.</p>
      <p>We believe that learning and playing go hand in hand. Our carefully selected collection of games not only entertains but also helps children develop valuable skills, such as problem-solving, creativity, and hand-eye coordination.</p>
      <p>We hope your child enjoys their time on our website and learns while having fun. If you have any feedback or suggestions, we'd love to hear from you! Feel free to reach out to our team through the contact page.</p>
      <p>Happy gaming!</p>
      </div>
    </main>
  
  </body>
  </html>
  